<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', { title: 'Home 123' }) %>
    <body>
        <h3>Khoa Pham Online 1234567899</h3>
        <% arrPerson.forEach(person => {%>
            <%- include('./partials/row.ejs', { person })  %>
        <% }); %>
        <form method="POST" action="/add">
            <input type="text" placeholder="Name" name="name">
            <br><br>
            <input type="text" placeholder="Age" name="age">
            <br><br>
            <button>Add new person</button>
        </form>
    </body>
</html>
<script src="reload/reload.js"></script>
